<div class="col-12">
    <div class="d-flex justify-content-between mb-3 align-items-center">
        <h1>Monthly Notes</h1>
    </div>
  <div id="carouselMonthlyNoteIndicators" class="carousel slide" style="margin-bottom: -30px;">
    @if (resultMonthlyNotes.length > chunkSize) {
      <div class="carousel-indicators">
        @for (_ of monthlyNoteChunks; track $index; let i = $index) {
          <button
            type="button"
            class="bg-dark"
            data-bs-target="#carouselMonthlyNoteIndicators"
            [attr.data-bs-slide-to]="i"
            [class.active]="i === 0"
            aria-current="true"
            style="height: 8px;"
            [attr.aria-label]="'Slide ' + (i + 1)">
          </button>
        }
      </div>
    }

    <div class="carousel-inner text-center text-primary" style="min-height: 190px;">
      @if (resultMonthlyNotes.length > 1 && resultMonthlyNotes[0].title != '') {
        @for (chunk of monthlyNoteChunks; track $index; let i = $index) {
          <div class="carousel-item" [class.active]="i === 0">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 row-cols-xxl-6">
              @for (card of chunk; track $index) {
                <div>
                  <app-dashboard-card
                    [title]="card.title"
                    [description]="card.description"
                    [date]="card.date"
                  ></app-dashboard-card>
                </div>
              }
            </div>
          </div>
        }
      } @else {
        <div class="carousel-item active">
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 row-cols-xxl-6">
            <div class="ms-3 card secondary-panel">
              <div class="card-body d-flex justify-content-center align-items-center fw-bold fs-3">
                EMPTY
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
