<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editModalLabel">Edit Data</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body text-start">
        <div>
          <label for="addTitle" class="fw-bold">Title</label>
          <input id="addTitle" type="text" class="form-control mb-2" placeholder="Title">
        </div>
        <div>
          <label for="addDescription" class="fw-bold">Description</label>
          <textarea id="addDescription" class="form-control mb-2" placeholder="Description" rows="3"></textarea>
        </div>
        <div>
          <label for="addDate" class="fw-bold">Date</label>
          <input id="addDate" type="date" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>
