<nav class="min-vh-100 bg-white border-end d-flex flex-column" style="min-width:250px;">
    <div class="d-flex justify-content-center align-items-center border-bottom" style="height: 85px;">
        <img src="logo.png" alt="Logo AstraPay" style="width: 200px;">
    </div>
    <div class="sidebar-menu">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item min-width-full">
                <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
                    <i class="bi bi-house pe-3"></i>
                    <span class="sidebar-name">Dashboard</span>
                </a>
            </li>
            <li class="nav-item min-width-full">
                <a routerLink="/note" routerLinkActive="active" class="nav-link">
                    <i class="bi bi-journal pe-3"></i>
                    <span class="sidebar-name">Note</span>
                </a>
            </li>
        </ul>
    </div>
</nav>