<table datatable class="row-border hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Title</th>
      <th>Description</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Title</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem delectus ea eius fugit itaque quos reprehenderit. Asperiores deserunt hic non!</td>
      <td>2025-07-09</td>
      <td>
        <a class="dashboard-card-icon fw-bold" data-bs-toggle="modal" data-bs-target="#viewModal">
          <i class="bi bi-eye pe-2"></i>
        </a>
        <a class="dashboard-card-icon fw-bold" data-bs-toggle="modal" data-bs-target="#editModal">
          <i class="bi bi-pencil pe-2"></i>
        </a>
        <a class="dashboard-card-icon fw-bold" data-bs-toggle="modal" data-bs-target="#deleteModal">
          <i class="bi bi-trash"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
